.container-name{
  width: 500px;
  border-color: blue;
  border-style: double;
  text-align: center;
}

.container-btn{
  width: 500px;
  border-color: blue;
  border-style: double;
}

.about{
  width: 500px;
  border-color: blue;
  border-style: double;
}

.interest{
  width: 500px;
  border-color: blue;
  border-style: double;
}

.app{
  width: auto;
  border-color: blue;
  border-style: double;
}